<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Byron Store</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/c1cbc6fb25.js" crossorigin="anonymous"></script>
</head>
<div class="multi-bg-example">
  <header>
    <h1 class = "p-3 mb-2 bg text-white text-center" style="font-family:verdana; background-color: cornflowerblue;">Byron Store</h1>
  </header>
  <body>

    <div>
      <a href="/" type="button" class="btn btn-outline-dark btn-lg"> Home</a>
        <a>|</a>
        <a href ="/mnu_products" type="button" class="btn btn-outline-dark btn-lg">Produtos</a>
        <a>|</a>
        <a href ="/mnu_companies" type="button" class="btn btn-outline-dark btn-lg">Empresas</a>
      </div>

    <div>
      <h2 class="text-center" style="color:#135d7c;">Mais Vendidos</h2>
    </div>

  <div class="card-group">
    <div class="card">
      <img class="card-img-top" height="300" src="https://a-static.mlcdn.com.br/618x463/tablet-samsung-galaxy-a7-lite-87-4g-wi-fi-64gb-android-cam-8mp/magazineluiza/230608500/cd3e8f7bd3704b2f157fdde36883c063.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Tablet 1GB de ram, 8GB memória</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" height="300" src="https://a-static.mlcdn.com.br/618x463/iphone-11-apple-128gb-preto-61-12mp-ios/magazineluiza/155611100/1cd49b14dc8d5d36c597d5d964fc4c73.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">	Smartphone 6GB ram, 64GB memória</h5>

      </div>
    </div>
    <div class="card">
      <img class="card-img-top" height="300" src="https://a-static.mlcdn.com.br/618x463/notebook-lenovo-ideapad3i-82bs0005br-intel-core-i5-8gb-256gb-ssd-156-lcd-windows-10/magazineluiza/135302600/8b52aec49b6fdba92b00e8c76bf3951d.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Notebook corporativo, 1TB HD, 8GB ram</h5>
      </div>
    </div>
  </div>

    <div>
      <h1 class = "text-white bg-dark text-center">Empresas</h1>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
      <a href ="/form_products" class ="btn btn-success bg-dark">Cadastrar Produto</a>
      <a href ="/form_companies" class ="btn btn-success bg-dark">Cadastrar Empresa</a>
    </div>

  </body>
</div>
</html>