<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Byron Companies</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/c1cbc6fb25.js" crossorigin="anonymous"></script>
</head>
<div class="multi-bg-example">
  <header>
    <h1 class = "p-3 mb-2 bg text-white text-center" style="font-family:verdana; background-color: cornflowerblue;">Byron Store</h1>
  </header>
  <body>

    <div>
      <a href="/" type="button" class="btn btn-outline-dark btn-lg"> Home</a>
        <a>|</a>
        <a href ="/mnu_products" type="button" class="btn btn-outline-dark btn-lg">Produtos</a>
        <a>|</a>
        <a href ="/mnu_companies" type="button" class="btn btn-outline-dark btn-lg">Empresas</a>
      </div>


    <div class="col-8 m-auto pt-3 pb-2 text-center">
      <form action="" method="GET">
        <input type="text" id="search" name="search"
        class="form-control" placeholder="Buscar empresa...">
      </form>
    </div>

    <div class="container p-3"></div>
    <h1 class="text-center" >Empresas cadastradas</h1>
    <div class="container p-3"></div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Código</th>
      <th scope="col">CNPJ</th>
      <th scope="col">Nome</th>
      <th scope="col">Endereço</th>
	  <th scope="col">E-mail</th>
	  <th scope="col">Telefone</th>
      <th scope = "col"></th>
    </tr>
  </thead>
  <tbody>
      {% for dbs in db %}
      <tr>
        <th>{{dbs.id}}</th>
        <th>{{dbs.cmpId}}</th>
        <td>{{dbs.cmpCnpj}}</td>
        <td>{{dbs.cmpName}}</td>
        <td>{{dbs.cmpAddress}}</td>
        <td>{{dbs.cmpEmail}}</td>
        <td>{{dbs.cmpPhone}}</td>
        <td>
          <a href ="/view_cmp/{{dbs.id}}/" type="button" class="far fa-eye" style="color: rgb(27, 32, 48); text-decoration:none"></a>
          <a href ="/edit_cmp/{{dbs.id}}/" type="button" class="far fa-edit" style="color: rgb(27, 32, 48); text-decoration:none; margin-left: 1rem"></a>
          <a href ="/delete_cmp/{{dbs.id}}/" type="button" class="far fa-trash-alt" style="color: rgb(27, 32, 48); text-decoration:none; margin-left: 1rem"></a>
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>

{%load static%}
<script src="{% static 'javascript.js' %}"></script>
</body>
</html>