<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Byron Products</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<div class="multi-bg-example">
  <header>
    <h1 class = "p-3 mb-2 bg-danger text-white text-center" style="font-family:verdana;">Byron Store</h1>
  </header>
  <body>

    <div>
      <a href="/" type="button" class="btn btn-outline-dark btn-lg"> Home</a>
        <a>|</a>
        <a href ="/mnu_products" type="button" class="btn btn-outline-dark btn-lg">Produtos</a>
        <a>|</a>
        <a href ="/mnu_companies" type="button" class="btn btn-outline-dark btn-lg">Empresas</a>
        <a>|</a>
        <a href ="" type="button" class="btn btn-outline-dark btn-lg">Busca</a>
      </div>

    <div class="container p-3"></div>
    <h1 class="text-center" >Produtos cadastrados</h1>
    <div class="container p-3"></div>

<table class="table table-danger table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Código</th>
      <th scope="col">Nome</th>
      <th scope="col">Empresa</th>
	  <th scope="col">Descrição</th>
      <th scope = "col">Preço</th>
      <th scope ="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for dbs in db %}
    <tr>
        <td>{{dbs.id}}</td>
        <td>{{dbs.prodId}}</td>
        <td>{{dbs.prodName}}</td>
        <td>{{dbs.prodCompany}}</td>
        <td>{{dbs.prodDescription}}</td>
        <td>{{dbs.prodPrice}}</td>
        <td>
           <a href ="/view_prod/{{dbs.id}}/" type="button" class="btn btn-outline-dark">+</a>
          <a href ="/edit_prod/{{dbs.id}}/" type="button" class="btn btn-outline-dark">Editar</a>
          <a href ="/delete_prod/{{dbs.id}}/" type="button" class="btn btn-outline-dark">Excluir</a>
        </td>
    </tr>
   {% endfor %}
  </tbody>
</table>



</body>
</html>